<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalog</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<form action="/web-app/" method="get">
    <button type="submit">To home page</button>
</form>
<h1>Product category</h1>
<hr>
<div th:if="${not #lists.isEmpty(categoryDTOs)}">
    <div th:each="categoryDTO : ${categoryDTOs}">
        <form id="category" method="get">
            <input name="id" type="text" th:value= "${categoryDTO.id}" id="id" hidden="true"/>
        </form>
        <p th:text="'Category: ' + ${categoryDTO.name}" />
        <button>
        <a th:href="@{/category/products(id=${categoryDTO.id})}">Products</a>
        </button>
    </div>
</div>
</body>
</html>

