<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Shop name</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="header">
    <div class="text">Furniture store </div>
    <div class="text">Calypso </div>
</div>
<div class="imagesContainer">
    <img class="imageItem" src="https://www.topdom.ru/uploaded/article/built-in-furniture/75.jpg">
    <img class="imageItem" src="https://interoline.by/assets/images/products/Gwinner/living/Gwinner-lucca-7.jpg">
    <img class="imageItem" src="https://interoline.by/assets/images/products/Gwinner/living/Gviner.Fellini13.jpg">
</div>
<script type="text/javascript" src="script.js"></script>
<br>
<br>
<form  id="searchPartial" method="get">
<tr>
    <td>Insert data for search</td>
    <td><input type="text" placeholder="" name="part_of_name"
               required pattern="^[a-zA-Z]+$"/></td>
</tr>
    <button type="submit" formaction="/web-app/search/partial">Find</button>
</form>
<br>
<br>
<form  id="searchFiltered" method="get">
    <table border="0">
        <td>Search by category:</td>
        <tr>
            <td>Category product name:</td>
            <td><input type="text" placeholder="" name="nameCategory"
                       required pattern="^[a-zA-Z/s0-9]*$"/></td>
        </tr>
        <tr>
            <td>Product price from:</td>
            <td><input type="text" placeholder="" name="priceFrom"
                       required pattern="(^[0-9]*)(\.[0-9])*$"/></td>
        </tr>
        <tr>
            <td>Product price to:</td>
            <td><input type="text" placeholder="" name="priceTo"
                       required pattern="(^[0-9]*)(\.[0-9])*$"/></td>
        </tr>
        <tr>
            <td>Product rating from:</td>
            <td><input type="text" placeholder="" name="ratingFrom"
                       required pattern="(^[0-9]*)(\.[0-9])*$"/></td>
        </tr>
        <tr>
            <td>Product rating from:</td>
            <td><input type="text" placeholder="" name="ratingTo"
                       required pattern="(^[0-9]*)(\.[0-9])*$"/></td>
        </tr>
    </table>
    <p>
        <button type="submit" formaction="/web-app/search/filtered" >Find products</button>
    </p>
</form>

<br>
<br>
<form action="/web-app/category/list" method="get" >
    <button type="submit">Product category</button>
</form>
<br>
<br>
<form action="/web-app/products/catalog" method="get" >
    <button type="submit">Catalog</button>
</form>
<br>
<br>
<form action="/web-app/shops/list" method="get" >
    <button type="submit">Our shops</button>
</form>
<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="EXIT" />
</form>
</body>
</html>