<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product catalog</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<form action="/web-app/" method="get">
    <button type="submit">To home page</button>
</form>
<h1>Our shops</h1>
<hr>
<div th:if="${not #lists.isEmpty(shopdtos)}">
    <div th:each="shopdto : ${shopdtos}">
        <form id="shop" method="get">
            <input name="id" type="text" th:value= "${shopdto.id}" id="id" hidden="true"/>
        </form>
        <p th:text="'City: ' + ${shopdto.city}" />
        <p th:text="'Address: ' + ${shopdto.address}" />
        <p th:text="'Shop name: ' + ${shopdto.name}" />
        <hr>
    </div>
</div>
</body>
</html>