body {
	background-color: #e5d4c8;
}

.header {
	height: 180px;
	width: 100%;
	background-color: #58514b;
	font-size: 60px;
	font-family: sans-serif;
}

.text {
	text-align: center;
	padding-top: 10px;
}

.imagesContainer {
	margin: 0px 3px;
}

.imageItem {
	height: 300px;
	width: 33%;
}